@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Manrope:wght@400;500;600;800&display=swap');

body {

  margin: 0;
  padding: 0;
  font-family: -apple-system, Manrope,  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --accent-color: #ff8356;
  --fone-color: #fef9f9;

  --yellow: #ffc107;
  --white: #ffffff;
  --white-bg: #fdf7f2;

  --black: #111111;
  --medium-blue: #76bcf9;
  --blue: #54adff;
  --light-blue: #cce4fb;
  --green: #00c3ad;
  --red: #f43f5e;
  --grey: #888888;

  --gradient-yr: #ff5f40;
  --gradient-yl: #ffcf45;

  --gradient-bl: #88c7fc;
  --gradient-br: #4da5f3;



    
  --time: 250ms;

  --shadow-default: 3px 8px 14px 0px #88C6FD30;

  --shadow-hover: 7px 13px 14px 0px #74B1E83D;


}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.userContact + span{
  color: var(--yellow);
}

