@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Manrope:wght@400;500;600;800&display=swap');

:root {
  --accent-color: #ff8356;
  --fone-color: #fef9f9;

  --yellow: #ffc107;
  --white: #ffffff;
  --white-bg: #fdf7f2;

  --black: #111111;
  --medium-blue: #76bcf9;
  --blue: #54adff;
  --light-blue: #cce4fb;
  --green: #00c3ad;
  --red: #f43f5e;
  --grey: #888888;

  --gradient-yr: #ff5f40;
  --gradient-yl: #ffcf45;

  --gradient-bl: #88c7fc;
  --gradient-br: #4da5f3;

    
  --time: 250ms;

  --shadow-default: 3px 8px 14px 0px #88C6FD30;

  --shadow-hover: 7px 13px 14px 0px #74B1E83D;

}

:root[data-theme="light"] {
  --background-color: #fef9f9;
  --text-color: #1C1E21;
  --card-color: #fff;

  --field-color: #eeeeee;
  --border: 3px solid transparent;

  --main-text:  #001129;

}

:root[data-theme="dark"] {
  --background-color: #001129;
  --text-color: #f5f6f7;
  --card-color: #9994;
  --field-color: #eee5;
  --border: 3px solid var(--blue);
  
  --main-text:  #001129;
}

:root[data-lang="english"] {
  --fz: 16px;
  --fz-tab: 12px;
  --title-fz: 48px;
  --title-fz-m: 24px;
  --app-title: #001129;
  --btwidth: 130px;

}

:root[data-lang="ukrainian"] {
  --fz: 12px;
  --fz-tab: 11px;
  --title-fz: 40px;
  --title-fz-m: 18px;
  --app-title: #777;
  --btwidth: 150px;
}

body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  font-family: -apple-system, Manrope,  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  transition: all 1s ease-in-out;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}


.iconLogo {
  color: var(--text-color) ;
}

.radio-input~ .box {
  /* background-color: crimson  !important; */
    opacity: 0 ;
}

.userContact + span{
  color: var(--yellow);
 
}

